<div class="footer" style="text-align:right;">
        <a href="{{git_link}}" style="" title="gitlab">&#x25F1; git</a>
        <a href="{{license_link}}" style="" title="MIT">&#x25F0; license</a>
        <a href="#"  style="" title="Back to top">▲</a>
</div>
</div>


    </body>
</html>
