


<div class="title"> POCKET_PHP: Blazing fast MVC implementation for PHP7+ </div>
<div class="content-text">
    <a href="{{git_link}}">Pocket_php</a> is an MVC framework for PHP7+ that emphasizes performance and
    simplicity.
    By abstracting away many of PHP7's shortcomings and implementing an MVC design pattern, the framework provides a safer development and production environment with virtually no performance costs, the entire source code can be read in twenty minutes and was designed with extensibility and mutability in mind to fit any given project that would otherwise require deep modifications of unnecessarily large "solutions" or for the programmer to write generic code that could be prone to security flaws.
    <Br><br>
    It is primarily built for the <a class="greentext" href="https://www.nginx.com">NGINX</a> server to take full
    advantage of its scalabilty and performance allowing fully featured web projects to be run on budget hardware. A largely unexploited benefit of modern VPS providers that goes ignored due to the bloated minimal requirements of the modern backend libraries we've (erroneously) learned to depend on.
    <br> <br>
    Included in the source code is an example project with a documentation section.
</div>
<br>

<div class="title"> POCKET_PHP FEATURES </div>
<ul class="content-text" style="list-style:none">
    <li>&#9632; MVC implentation automatically limits client access to controller files</li>
    <li>&#9632; HTML template engine for full frantend & backend separation</li>
    <li>&#9632; Fully featured session manager with php.ini independent timeout and expiration controls</li>
    <li>&#9632; User input sensitization</li>
    <li>&#9632; Internal IP tracking & banning</li>
    <li>&#9632; Cross-platform, runs on anything that can host a web server</li>
                        <li>&#9632; Included <a class="greentext" href="https://www.nginx.com">NGINX</a> configuration </li>
    <li>&#9632; Scalable and easily modified</li>
    <li>&#9632; Tiny code base providing the very essentials</li>
    <li>&#9632; Lowest performance hit you've seen or your money back</li>
    <li>&#9632; It's fucking free</li>
    <li><a href="{{license_link}}">&#9632; MIT Licensed</a></li>
</ul>
<br>

<div class="title"> INSTALLATION & DOCUMENTATION </div>
<div class="content-text">
    The project is self documented through the example website, though the <a href="{{user_guide_link}}">user guide</a> has a thorough
    introduction including an installation guide. For more resources visit the official project page at <a href="{{author_link}}">XENOBYTE.XYZ</a>.
</div>
<br>
