
<div class="title">
    ABOUT POCKET_PHP
</div>
<div class="content-text">
    Years of experience of freelancing as software developer has made me weary of web related jobs for
    a variety of reasons, but primarily due to how unreasonably common it has become for even the most
    trivial of websites to be built on top of bloated frameworks that do very little to solve their
    native language problems and only expand on trendy designs. <br><br>
    The result is a complex, slow and
    semi-independent codebase that isn't merited on the vast majority of the cases. While it's usually
    easy to critize such terrible engineering cecisions the truth is that the available languages to script
    web servers all sucffer from their own, respective ills. PHP, though it has
    changed for the better it still suffers from (mostly legacy) issues that makes it relatively dagnerous
    for new programmers to use in production environments. <a href="{{git_link}}">Pocket_php</a> tries to find a middle points between
    fixing some of PHP's more serious isses and becoming the generic, over engineered framework.
    <br><br>
    <a href="{{git_link}}">Pocket_php</a> requires no extra libraries, uses no first, third party (or any) package managers, works with
    all modern webservers and adds virtually no overhead while providing the eternal, cookie cutter tools
    a website needs like HTML templating and session management. Enjoy!
    <br><br>
    Developed by <a href="{{author_link}}">AlexHG @ XENOBYTE.XYZ</a> on his free time.
    If you would like to support <a href="{{home_link}}">pocket_php's</a> development please consider making a donation.
    <br><br>
    <a href="bitcoin:{{btc_link}}" style="color:#F9B606;overflow-wrap: break-word; word-break: break-all;">Bitcoin: {{btc_link}} </a> <br><br>
    <a href="monero:{{monero_link}}" style="color:#FF875F; overflow-wrap: break-word; word-break: break-all;"> Monero: {{monero_link}}</a080a0>
    <br>
</div>

